html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #00A5DB;
  border-width: 3px;
  max-width: 50px;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #00A5DB;
}
a:hover,
a:focus {
  color: #007fa8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-primary {
  background-color: #00A5DB;
}
.bg-dark {
  background-color: #00759B;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.navbar-linkgo-blog {
  margin-bottom: 0px;
  background-color: #0CE8A6;
  border-color: transparent;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-linkgo-blog .navbar-header .navbar-brand {
  color: white;
  font-weight: 700;
}
.navbar-linkgo-blog .navbar-header .navbar-brand:hover,
.navbar-linkgo-blog .navbar-header .navbar-brand:focus {
  color: #0CE8A6;
}
.navbar-linkgo-blog .nav > li > a,
.navbar-linkgo-blog .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #0CE8A6;
}
.navbar-linkgo-blog .nav > li > a:hover,
.navbar-linkgo-blog .nav > li > a:focus:hover {
  color: #0CE8A6;
}
.navbar-linkgo-blog .nav > li.active > a,
.navbar-linkgo-blog .nav > li.active > a:focus {
  color: white !important;
  background-color: transparent;
}
.navbar-linkgo-blog .nav > li.active > a:hover,
.navbar-linkgo-blog .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-linkgo-blog {
    margin-bottom: 0px;
    background-color: #0CE8A6;
    border-color: transparent;
  }
  .navbar-linkgo-blog .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-linkgo-blog .navbar-header .navbar-brand:hover,
  .navbar-linkgo-blog .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-linkgo-blog .nav > li > a,
  .navbar-linkgo-blog .nav > li > a:focus {
    color: white;
  }
  .navbar-linkgo-blog .nav > li > a:hover,
  .navbar-linkgo-blog .nav > li > a:focus:hover {
    color: #00759B;
  }
  .navbar-linkgo-blog.affix {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
    background-color: #00A5DB;
  }
  .navbar-linkgo-blog.affix .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-linkgo-blog.affix .navbar-header .navbar-brand:hover,
  .navbar-linkgo-blog.affix .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-linkgo-blog.affix .nav > li > a,
  .navbar-linkgo-blog.affix .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-linkgo-blog.affix .nav > li > a:hover,
  .navbar-linkgo-blog.affix .nav > li > a:focus:hover {
    color: white;
  }
}
.header-linkgo-blog {
  position: relative;
  width: 100%;
  min-height: 30%;
  background: url('http://o7m387gr6.bkt.clouddn.com/guitar-road.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
  color: #00A5DB;
}
.header-linkgo-blog .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
.header-linkgo-blog .header-content .header-content-inner h1 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.header-linkgo-blog .header-content .header-content-inner hr {
  margin: 30px auto;
}
.header-linkgo-blog .header-content .header-content-inner p {
  font-weight: 200;
  color: rgba(0, 165, 219, 0.9);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .header-linkgo-blog {
    min-height: 30%;
  }
  .header-linkgo-blog .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  .header-linkgo-blog .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-linkgo-blog .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.content-wrap {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
.blog-footer {
  margin-top: 10%;
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer .blog-footer p:last-child {
  margin-bottom: 0;
}
.blog-sidebar {
  margin-top: 10%;
}
.sidebar-about {
  font-size: 12px;
  color: #0CE8A6;
}
.decorate-none > a {
  text-decoration: none;
}
.article-header h1 {
  margin-top: 0;
  margin-bottom: 5px;
}
.article-header h1 a {
  color: #333;
}
.article-header h1 a:hover {
  color: #23527c;
  text-decoration: none;
}
.article-entry .article-more-link {
  margin: 15px 0;
}
.article-entry .thumbnail .caption {
  padding: 0;
}
.article-entry > *:last-child {
  margin-bottom: 15px;
}
.article-meta {
  margin-bottom: 20px;
  color: #999;
  font-size: 0.9em;
}
.article-meta > * {
  display: inline-block;
  margin-right: 15px;
}
.article-meta a {
  color: inherit;
}
.article-footer {
  font-size: 0.85em;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.article-footer:after {
  /* clearfix */
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #666;
  text-decoration: underline;
}
.blog-disqus {
  margin-top: 10%;
  margin-right: 10%;
  margin-left: 10%;
}
.text-primary {
  color: #00A5DB;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: white;
  background-color: #00A5DB;
  border-color: #00759B;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: white;
  background-color: #007fa8;
  border-color: #005a77;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #00A5DB;
  border-color: #00759B;
}
.btn-default .badge {
  color: #00A5DB;
  background-color: white;
}
.btn-primary {
  color: white;
  background-color: #0CE8A6;
  border-color: #0CE8A6;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #09b883;
  border-color: #0ac68e;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #0CE8A6;
  border-color: #0CE8A6;
}
.btn-primary .badge {
  color: #0CE8A6;
  background-color: white;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #00759B;
}
::selection {
  color: white;
  text-shadow: none;
  background: #00759B;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #00759B;
}
