<header class="header-linkgo-blog">
  <div class="header-content">
    <div class= "header-content-inner">
    <!--
      <h1 class="blog-title"><%= config.title %></h1>
      <% if (theme.subtitle){ %>
        <p class="lead blog-description"><%= theme.subtitle %></p>
      <% } %>
    -->
    </div>
  </div>
</header>
